@import "tailwindcss";

@theme{
    --font-poppins: Poppins, sans-serif;

    --color-gr-100: oklch(99% 0 0);
    --color-gr-200: oklch(95.21% 0 0);
    --color-gr-300: oklch(81.09% 0 0);
    --color-gr-400: oklch(44.59% 0 0);
    
}

::-webkit-scrollbar {
    display: none;
}